.btn{
    padding: 16px 0;
    width: 260px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform:uppercase;
    color: var(--white);
    background-color:var(--accent-color);
    cursor: pointer;
    border: transparent;
    transition: background-color var(--trans-duration) var(--timing-function),
    box-shadow var(--trans-duration) var(--timing-function);
    &:focus,
    &:active,
    &:hover{
        box-shadow: 3px 2px 9px 3px rgba(255,107,9,0.7);
        -webkit-box-shadow: 3px 2px 9px 3px rgba(255,107,9,0.7);
        -moz-box-shadow: 3px 2px 9px 3px rgba(255,107,9,0.7);
        }
    
}
//=============btn-desktop================//
@media screen and (min-width: 1366px){
.btn{
    padding: 27px 0px;
    width: 354px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    }
}

.btn-clear{
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}
