h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list--no-style {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link--no-style {
  text-decoration: none;
}

img {
  display: block;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  @include font-prop();
  color: var(--main-color);

  background-color: var(--white);
}
