h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  @include font-prop();
  color: var(--main-color);

  background-color: var(--white);
}

// для окраски ТЕКСТА в цвет акцента
.accent-color {
  color: var(--accent-color);
}

// for sections
.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section__title {
  @include font-prop(800, 20px, 1.3, 0.03em);
  color: var(--main-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 46px;
  }
}
