.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  // @media screen and (min-width: var(--mobile)) {
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // @media screen and (min-width: var(--tablet)) {
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  // @media screen and (min-width: var(--desktop)) {
  @media screen and (min-width: 1366px) {
    width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
