<div class="advantages container">
    <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list list--no-style">
            <li class="advantages-list-item ">
                <div class="advantages-icon-wrap">
                    <svg class="advantages-icon girl-icon">
                        <use href="./images/icons.svg#how-we-do-icon5"></use>
                    </svg>
                </div>
                <p class="advantages-title">Adapted author's UPE program</p>
                 </li>
            <li class="advantages-list-item">
                <div class="advantages-icon-wrap">
                    <svg class="advantages-icon mobile-learning-icon">
                        <use href="./images/icons.svg#how-we-do-icon2"></use>
                    </svg>
                </div>
                <p class="advantages-title">Modern teaching methods</p>
                </li>
            <li class="advantages-list-item"> 
                <div class="advantages-icon-wrap">
                    <svg class="advantages-icon insurance-icon">
                        <use href="./images/icons.svg#advantages-icon3"></use>
                    </svg>
                </div>
                <p class="advantages-title">Financial guarantee the result</p>
                </li>
        </ul>
    </div>