<footer class="footer">
  <div class="container footer-container--white">
    <a class="footer__logo" href="https://falconoff.github.io/hell-eng/">
      <img class="footer-logo__image" alt="company logo" src="./images/footer/footer-logo.png" />
    </a>
    <a href="tel:+38(000)0000000" class="phone-number">
      <svg class="phone-number__icon">
        <use href="./images/icons.svg#phone"></use>
      </svg>
      +38 (000) 000 00 00</a>
    <a href="https://www.instagram.com/" class="instagram-link" target="_blank" rel="noopener noreferrer">
      <img src="./images/footer/instagram.png" alt="instagram" class="instagram-icon" />
    </a>
  </div>
  <div class="footer-container--black container">
    <p class="toptal">&commat; All rights reserved, 2019</p>
  </div>
</footer>
