<header class="header header-line">
  <div class="container header__menu">
    <a class="header__logo" href="#">
      <svg class="logo__img">
        <use href="./images/header/logo-light-mob.svg"></use>
      </svg>
    </a>
    <button type="button" class="menu-button" data-menu-button>
      <svg width="" height="">
        <use class="icon-menu" href="#"></use>
      </svg>
    </button>
    <div class="mobile__menu" data-menu>
      <nav class="menu__nav">
        <ul class="menu__nav-list">
          <li class="menu__nav-item">
            <a href="#Studying program" class="menu__nav-link">Studying program</a>
          </li>
          <li class="menu__nav-item">
            <a href="#About" class="menu__nav-link active">About</a>
          </li>
          <li class="menu__nav-item">
            <a href="#Training options" class="menu__nav-link">Training options</a>
          </li>
          <li class="menu__nav-item">
            <a href="#Contacts" class="menu__nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="modal-btn" type="button" data-modal-open>Consultation by phone</button>
      <button type="button" class="mobile__menu-button" data-menu-close>
        <svg class="mobile__menu-button-close" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</header>
