<section class="hero">
  <div class="hero__container container">
    <div class="hero__content-box">
      <h1 class="hero__title section__title">Complex preparation for English UPE</h1>
      <p class="hero__slogan">
        <span class="hero__slogan-primary">It won’t be easy.</span> <br />
        But you’re guaranteed to get
        <span class="accent-color">+25 points</span>
      </p>
      <a class="hero__button" href="#">I want a free lesson</a>
    </div>
    <div class="hero__photo"></div>
  </div>
</section>
