<section class="section">
  <div class="container">
    <h2 class="section__title">How do we do it</h2>
    <ul class="how-we-do__container">
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon1"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">
            Adapted program preparation for UPE
          </h3>
        </div>
        <p class="how-we-do__description">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>
      </li>
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon2"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">Classroom and online learning</h3>
        </div>
        <p class="how-we-do__description">
          The teacher will help not only in the classroom, but also during home
          preparation. Parents can chat if they wish.
        </p>
      </li>
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon3"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">The habit of reading in English</h3>
        </div>
        <p class="how-we-do__description">
          Articles from sources that are used in the development of this UPE
          will be received by phone twice a week.
        </p>
      </li>
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon4"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">Psychological<br/>support</h3>
        </div>
        <p class="how-we-do__description">
          We will teach you testing techniques, the ability to plan your
          confidence training in itself.
        </p>
      </li>
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon5"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">Training on copyright manuals</h3>
        </div>
        <p class="how-we-do__description">
          You don't have to waste your time on a search for material and to buy
          anything extra. We have compiled 2 manuals for you.
        </p>
      </li>
      <li class="how-we-do__card">
        <div class="how-we-do__icon-container">
          <svg class="how-we-do__icon">
            <use href="./images/icons.svg#how-we-do-icon6"></use>
          </svg>
        </div>
        <div class="how-we-do__heading-container">
          <h3 class="how-we-do__heading">
            Ability to comprehend spoken English
          </h3>
        </div>
        <p class="how-we-do__description">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
          audio recordings in accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>