<section class="section section__problems">
  <svg class="section__problems__icon">
    <use href="./images/icons.svg#fire-icon"></use>
  </svg>
  <div class="container">
    <h2 class="section__title section__title--white section__problems__title">
      The main problems of students <br />
      in English UPE, which <br />
      we <span class="section__title--help">help</span> to solve
    </h2>
    <ul class="section__problems__list">
      <li class="section__problems__list--text">Grammar</li>
      <li class="section__problems__list--text">Inability to understand spoken English</li>
      <li class="section__problems__list--text">Stingy vocabulary for writing an essay</li>
      <li class="section__problems__list--text">Preparing alone</li>
      <li class="section__problems__list--text">Lack of a single knowledge resource</li>
      <li class="section__problems__list--text">Lack of self-organization and laziness</li>
    </ul>
  </div>
</section>
