<section class="container problems">
    <h3 class="problems__title">The main problems of students in English UPE, which we <span class="problems__title--help">help</span>  to solve</h3>
    <ol class="problems__list list--no-style">
        <li class="problems__list--text line">Grammar</li>
        <li class="problems__list--text line">Inability to understand spoken English</li>
        <li class="problems__list--text line">Stingy vocabulary for writing an essay</li>
        <li class="problems__list--text line">Preparing alone</li>
        <li class="problems__list--text line">Lack of a single knowledge resource</li>
        <li class="problems__list--text line">Lack of self-organization and laziness</li>
    </ol>
</section>



