<section class="section program" id="program">
    <div class="container program__container">
        <h2 class="section__title section__title--white section__title_padding ">Our program</h2>
    <ul class="program__first-list">
        <li class="program__first-list-item"><span class="program__first-list-item_uppercase">1 semester</span>
            <ul class="program__second-list">
                <li class="program__second-list-item"><span class="program__second-list-item_padding">Grammar</span>
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Nouns & Articles</li>
                        <li class="program__third-list-item">Adjectives & Adverb
                        </li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Vocabulary
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Family & Relations</li>
                        <li class="program__third-list-item">People & Society</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__first-list-item"><span class="program__first-list-item_uppercase">2 semester</span>
            <ul class="program__second-list">
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Grammar
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Pronouns</li>
                        <li class="program__third-list-item">Active Voice</li>
                        <li class="program__third-list-item">Passive Voice</li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Vocabulary
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Home</li>
                        <li class="program__third-list-item">School</li>
                        <li class="program__third-list-item">Work</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__first-list-item"><span class="program__first-list-item_uppercase">3 semester</span>
            <ul class="program__second-list">
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Grammar
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Modal verbs</li>
                        <li class="program__third-list-item">Infinitive</li>
                        <li class="program__third-list-item">Gerund</li>
                        <li class="program__third-list-item">Participle: 1, 2
                        </li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Vocabulary
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Travel & Tourism</li>
                        <li class="program__third-list-item">Culture & Free Time</li>
                        <li class="program__third-list-item">Sport</li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Writing
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Informal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__first-list-item"><span class="program__first-list-item_uppercase">4 semester</span>
            <ul class="program__second-list">
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Grammar
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Clauses: Conditional and Wishes</li>
                        <li class="program__third-list-item">Direct / Reported speech</li>
                        <li class="program__third-list-item">Preposition</li>
                        <li class="program__third-list-item">Conjunction</li>
                        <li class="program__third-list-item">Numeral</li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Vocabulary
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Healthy Living</li>
                        <li class="program__third-list-item">Nature & Environment</li>
                        <li class="program__third-list-item">Money</li>
                    </ul>
                </li>
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>Writing
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Informal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="program__first-list-item"><span class="program__first-list-item_uppercase">5 semester</span>
            <ul class="program__second-list">
                <li class="program__second-list-item"><span class="program__second-list-item_padding"></span>
                    <ul class="program__third-list">
                        <li class="program__third-list-item">Revision</li>
                        <li class="program__third-list-item">Tests</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    </div>
    </div>
</section>