
//верхний марджин в advantages нужно буждет подогнать после добавления хиро!!!
.advantages{
    margin-top: 30px;
    &__list-item{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 26px;
        }
    }
    &__icon-wrap{
        border: 2px solid var(--accent-color);
        width: 60px;
        height:60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 65%;
            background-color: var(--white);
            right: -3px;
        }
    }
    &__title{
        padding-left: 68px;
        font-size: 14px;
        line-height: 1.66;
        letter-spacing: 0.08em;
    }
}
.student-icon::after{
    content: '';
    width: 33px;
    height: 40px;
    background-image: url('/images/advantages/student.svg');
    background-size: cover;
}
.mobile-learning-icon::after{
    content: '';
    width: 42px;
    height: 41px;
    background-image: url('/images/advantages/mobile-learning.svg');
    background-size: cover;
}
.insurance-icon::after{
    content: '';
    width: 35px;
    height: 40px;
    background-image: url('/images/advantages/insurance.svg');
    background-size: cover;
}
//=============респонсив мобилка
@media screen and (max-width: 767px){
    .advantages{
        width: 216px;
        &__list-item:last-child{
            margin-bottom: 50px;
        }
    }
}
//=============планшет
@media screen and (min-width: 768px){
    .advantages{
        &__list{
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__list-item{
            width: 33.3%;
            justify-content: flex-start;
            &:not(:last-child){
            margin-bottom: 0px;
            }
                &_:nth-child(n+2){
                max-width: 180px;
            }
        }  
    }  
}
//=============десктоп
@media screen and (min-width: 1366px){
    .advantages{
        width: 1344px;
        &__icon-wrap{
            width: 100px;
            height: 100px;
        }
        &__title{
            font-size: 20px;
            position: relative;
            max-width: 366px;
            margin-left: -20px;
            padding-left: 104px
        }
        &__list{
            margin-bottom: 130px;
        }
        &__list-item{
            max-width: 366px;
            &:nth-child(n+2){
                max-width: 366px;
            }
        }
    }
    .student-icon::after{
        content: '';
        width: 40px;
        height: 48px;
    }
    .mobile-learning-icon::after{
        content: '';
        width: 48px;
        height: 47px;
    }
    .insurance-icon::after{
        content: '';
        width: 42px;
        height: 48px;
    }
}