.section {
  &__benefits {
    counter-reset: number;
    background-image: linear-gradient(to bottom, var(--main-color) 75%, var(--white) 25%);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    &__title {
      padding-bottom: 30px;
    }

    &__list {
      padding-top: 20px;
      padding-left: 30px;
      list-style-position: outside;
      background-color: var(--white);

      &--text {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        position: relative;
        padding-top: 10px;
      }
    }
  }
}
.section__benefits__list--text::before {
  position: absolute;
  top: -10px;
  counter-increment: number;
  content: '-' counter(number, decimal-leading-zero) '';
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .section {
    &__benefits {
      &__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 95px;
        padding-right: 95px;
        padding-top: 55px;

        &--text {
          flex-basis: calc(100% / 2 - 20px);
          margin-right: 20px;
        }
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .section {
    &__benefits {
      &__title {
        display: none;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 70px 84px;
        &--text {
          font-weight: 700;
          font-size: 20px;
          flex-basis: calc(100% / 3 - 40px);
          margin-right: 40px;
          margin-bottom: 32px;
        }
        &--text::before {
          top: -20px;
        }
      }
    }
  }
}
