.header-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  background: transparent;
  letter-spacing: 0.08em;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-btn {
    display: none;
  }
  .header {
    position: relative;
    &__logo {
      display: none;
    }
    &__logo-mob {
      margin-top: 30px;
    }
    &__menu {
      justify-content: space-between;
      display: flex;
      align-items: center;
      &-nav {
        display: none;
      }
    }
    .menu-button {
      margin-top: 30px;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
    }
    .menu-button:hover,
    .menu-button:focus {
      fill: var(--accent-color);
    }
    .mobile__menu {
      &-network {
        margin-left: 25px;
      }
    }
  }
  .mobile {
    &__logo {
      margin-left: 20px;
      margin-top: 30px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(17, 21, 24, 0.9);
      padding-top: 48px;
      padding-bottom: 48px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      &-nav-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: 25px;
      }
      &-nav-item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: var(--white);
        .active {
          color: var(--accent-color);
        }
      }
      &-button {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        top: 10px;
        right: 15px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        fill: var(--modal-list-icon-fill);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &-button:hover .mobile__menu-button-close,
      &-button:focus .mobile__menu-button-close {
        fill: var(--accent-color);
      }
    }
  }
  .mobile__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
  }
}
.modal-btn {
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 12px;
  width: 260px;
  height: 48px;
  line-height: 1.25;
  background: transparent;
  letter-spacing: 0.08em;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .header__menu-nav {
    display: none;
  }
  .modal-btn {
    display: none;
  }
  .header-btn {
    margin-top: 30px;
    margin-right: -200px;
  }
  .header {
    position: relative;
    &__logo-mob {
      display: none;
    }
    &__logo {
      margin-top: 30px;
    }
    &__menu {
      justify-content: space-between;
      display: flex;
      &-nav {
        display: none;
      }
    }
    .menu-button {
      margin-top: 30px;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
    }
    .menu-button:hover,
    .menu-button:focus {
      fill: var(--accent-color);
    }
    .mobile__menu {
      &-network {
        margin-left: 25px;
      }
    }
  }
  .mobile {
    &__logo {
      margin-bottom: 50px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(17, 21, 24, 0.9);
      padding-top: 48px;
      padding-bottom: 48px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      &-nav-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: 25px;
      }
      &-nav-item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: var(--white);
        .active {
          color: var(--accent-color);
        }
      }
      &-button {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        top: 10px;
        right: 15px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        fill: var(--modal-list-icon-fill);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &-button:hover .mobile__menu-button-close,
      &-button:focus .mobile__menu-button-close {
        fill: var(--accent-color);
      }
    }
  }
  .mobile__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
  }
}
@media screen and (min-width: 1366px) {
  .mobile__menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .header-btn {
    width: 336px;
    height: 70px;
  }
  .header {
    &__logo-mob {
      display: none;
    }
    &__logo {
      width: 128px;
      height: 45px;
    }
    &__menu {
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin-top: 33px;
      &-nav-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
      }
      &-nav-item:not(:last-child) {
        margin-right: 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        .active {
          color: var(--accent-color);
        }
      }
    }
  }
}
