.header-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  background: transparent;
  letter-spacing: 0.08em;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
  .header {
    position: relative;
    &__logo {
      display: none;
    }
    &-line {
      padding-top: 30px;
    }
    &__menu {
      justify-content: space-between;
      display: flex;
      align-items: center;
      &-nav {
        display: none;
      }
    }
  }
  .menu-button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile {
    &__logo {
      display: none;
    }
    &__logo-mob {
      position: absolute;
      margin-top: 30px;
      margin-left: 25px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(17, 21, 24, 0.9);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      animation-name: animatebackdrop;
      animation-duration: var(--trans-duration);
      animation-timing-function: var(--timing-function);

      &-nav-list {
        margin-left: 25px;
        margin-top: 109px;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: var(--white);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
      &-button {
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        top: 37px;
        right: 20px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        fill: var(--accent-color);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &-button:hover .mobile__menu-button-close,
      &-button:focus .mobile__menu-button-close {
        fill: var(--accent-color);
      }
    }
  }
  .mobile__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
  }
}
.mobile__menu-btn {
  text-align: center;
  margin-top: 50px;
}
.modal-btn {
  font-weight: 700;
  font-size: 12px;
  width: 260px;
  height: 48px;
  line-height: 1.25;
  background: transparent;
  letter-spacing: 0.08em;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .header__menu-nav {
    display: none;
  }
  .modal-btn {
    display: none;
  }
  .header-btn {
    padding: 5px 15px;
    margin-left: auto;
  }
  .header {
    &__logo-mob {
      display: none;
    }
    &-line {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    &__menu {
      display: flex;
      &-nav {
        display: none;
      }
    }
    .menu-button {
      margin-left: 40px;
      padding: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
  }
  .mobile {
    &__logo-mob {
      display: none;
    }
    &__logo {
      position: absolute;
      margin-left: 40px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(17, 21, 24, 0.9);
      padding-top: 42px;
      padding-bottom: 42px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      animation-name: animatebackdrop;
      animation-duration: var(--trans-duration);
      animation-timing-function: var(--timing-function);
      &-nav {
        margin-top: 117px;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        align-items: center;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 180%;
        letter-spacing: 0.03em;
        color: var(--white);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
      &-button {
        position: absolute;
        content: '';
        top: 58px;
        right: 43px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        width: 14px;
        height: 14px;
        cursor: pointer;
        fill: var(--white);
        animation-name: animatebackdrop;
        animation-duration: var(--trans-duration);
        animation-timing-function: var(--timing-function);
      }
      &-button:hover .mobile__menu-button-close,
      &-button:focus .mobile__menu-button-close {
        fill: var(--accent-color);
      }
    }
  }
  .mobile__menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
  }
}
@media screen and (min-width: 1366px) {
  .mobile__menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .header-btn {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    width: 336px;
    height: 70px;
    margin-left: auto;
  }
  .header {
    &__logo-mob {
      display: none;
    }
    &-line {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__menu-nav {
      margin-left: 144px;
    }
    &__menu {
      align-items: center;
      display: flex;
      &-nav-list {
        display: flex;
      }
      &-nav-item:not(:last-child) {
        margin-right: 40px;
      }
      &-nav-link {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        text-transform: uppercase;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
    }
  }
}
