.how-we-do {
    background-color: black;
    &__card{
        height:280;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    &__card:not(:last-child){
        margin-bottom: 15px;
    }
    &__heading {
        text-align: center;
        margin-bottom: 15px;
        

    }
    &__heading::after{
        content: "";
        display: block;
        width: 19px;
        height: 2px;
        background-color: orangered;
        position: absolute;
        left: 160px;
        bottom: 90px;
        border-radius: 2px;
        margin-bottom: 10px;
       
    }
    &__description {
        text-align: center;
        

    }
}