.how-we-do {
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
    margin-top: 50px;
  }
  &__card {
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: var(--card-shdw);
    padding-left: 5px;
    padding-right: 5px;
  }
  &__card:hover {
    background-color: var(--accent-color);
    transition: background-color var(--trans-duration) var(--timing-function);
    .how-we-do__heading {
      color: var(--white);
      transition: color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__heading::after {
      background-color: var(--white);
      transition: background-color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__description {
      color: var(--white);
      transition: color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__icon {
      fill: var(--white);
      transition: fill var(--trans-duration) var(--timing-function);
    }
  }
  &__card:focus {
    background-color: var(--accent-color);
    transition: background-color var(--trans-duration) var(--timing-function);
    .how-we-do__heading {
      color: var(--white);
      transition: color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__heading::after {
      background-color: var(--white);
      transition: background-color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__description {
      color: var(--white);
      transition: color var(--trans-duration) var(--timing-function);
    }
    .how-we-do__icon {
      fill: var(--white);
      transition: fill var(--trans-duration) var(--timing-function);
    }
  }
  &__icon {
    fill: var(--accent-color);
    margin-bottom: 20px;
    height: 45px;
    width: auto;
  }
  &__heading {
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 2;
    font-weight: 600;
    color: var(--main-color);
  }

  &__heading {
    position: relative;
  }
  &__heading::after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 48%;
    bottom: -5px;
  }
  &__description {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    font-weight: 400;
    color: var(--secondary-color);
    padding-top: 25px;
  }
  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//MEDIA RULES
@media screen and (max-width: 767px) {
  .how-we-do__card {
    margin-bottom: 15px;
  }
}
//=============планшет
@media screen and (min-width: 768px) {
  .how-we-do {
    &__card {
      width: 334px;
      margin-bottom: 15px;
      padding-bottom: 50px;
      // margin-top: 20px;
      // margin-left: 20px;
    }
    &__card:nth-child(2n + 1) {
      margin-right: 20px;
    }
    //&__container {
    // margin-top: -20px;
    // margin-left: -20px;
    // }
    &__heading {
      font-weight: 700;
      font-size: 14px;
      line-height: 2;
    }
    &__heading::after {
      left: 47%;
      bottom: -5px;
    }
    &__title {
      font-weight: 800;
      font-size: 26px;
      line-height: 1.3;
    }
    &__description {
      margin-top: 30px;
    }
  }

  .how-we-do__container {
    display: flex;
    flex-wrap: wrap;
  }
}
//=============десктоп
@media screen and (min-width: 1366px) {
  .how-we-do {
    &__card {
      width: 424px;
      //height: 396px;
      margin-right: 20px;
    }
    &__title {
      font-size: 46px;
      line-height: 1.2;
      text-align: left;
      padding-bottom: 65px;
    }
    &__heading {
      font-weight: 700px;
      font-size: 20px;
      line-height: 1.4;
    }
    &__description {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
    }
    &__icon {
      margin-bottom: 30px;
    }
    &__card:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}
