.how-we-do {
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
    margin-top: 50px;
  }
  &__card {
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: var(--card-shdw);
    padding-left: 5px;
    padding-right: 5px;

    transition: background-color var(--trans-duration) var(--timing-function);
  }
  &__card:hover,
  &__card:focus {
    background-color: var(--accent-color);

    .how-we-do__heading::after {
      background-color: var(--white);
    }
    .how-we-do__description,
    .how-we-do__heading {
      color: var(--white);
    }
    .how-we-do__icon {
      fill: var(--white);
    }
  }

  &__icon {
    fill: var(--accent-color);
    height: 45px;
    width: auto;
    transition: fill var(--trans-duration) var(--timing-function);
  }
  &__heading {
    text-align: center;
    font-size: 14px;
    line-height: 2;
    font-weight: 600;
    color: var(--main-color);
    transition: color var(--trans-duration) var(--timing-function);
  }

  &__heading {
    position: relative;
  }
  &__heading::after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 45%;
    bottom: -35%;

    transition: background-color var(--trans-duration) var(--timing-function);
  }
  &__description {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 45px;
    transition: color var(--trans-duration) var(--timing-function);
  }
  &__icon-container {
    display: flex;

    justify-content: center;
  }
}
//MEDIA RULES
@media screen and (max-width: 767px) {
  .how-we-do {
    &__card {
      margin-bottom: 15px;
    }
    &card:last-child {
      margin-bottom: 0px;
    }
    &__heading {
      font-weight: 700;
      font-size: 14px;
      line-height: 2;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
//=============планшет
@media screen and (min-width: 768px) {
  .how-we-do {
    &__card {
      width: 334px;
      margin-bottom: 15px;
      padding-bottom: 50px;
    }
    &__card:nth-child(n + 5) {
      margin-bottom: 0px;
    }
    &__card:nth-child(2n + 1) {
      margin-right: 20px;
    }

    &__heading {
      font-weight: 700;
      font-size: 14px;
      line-height: 2;
      width: 200px;
      margin-left: 63px;
    }
    &__heading::after {
      left: 45%;
      bottom: -35%;
    }
    &__title {
      font-weight: 800;
      font-size: 26px;
      line-height: 1.3;
    }
    &__description {
      margin-top: 40px;
    }
    &__icon-container {
      margin-bottom: 30px;
    }
  }

  .how-we-do__container {
    display: flex;
    flex-wrap: wrap;
  }
}
//=============десктоп
@media screen and (min-width: 1366px) {
  .how-we-do {
    &__card {
      width: 424px;
      height: 396px;
      margin-right: 20px;
      cursor: pointer;
    }
    &__card:nth-child(n + 4) {
      margin-bottom: 0px;
    }
    &__title {
      font-size: 46px;
      line-height: 1.2;
      text-align: left;
      padding-bottom: 65px;
    }
    &__heading {
      font-size: 20px;
      line-height: 1.4;
      width: 345px;
      margin-left: 35px;
    }
    &__heading::after {
      left: 47%;
      bottom: -55%;
    }
    &__description {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      margin-top: 60px;
    }
    &__card:nth-child(3n + 3) {
      margin-right: 0;
    }
    &__icon-container {
      margin-bottom: 40px;
    }
  }
}
