.program {
  background-color: var(--main-color);

  &__container {
    text-align: left;
  }
}

.section__title_paddig {
  padding-top: 25px;
  padding-bottom: 50px;
}

.program__first-list-item {
  color: var(--white);
  text-transform: uppercase;
  padding-left: 25px;
  position: relative;

  &:not(:last-child) {
    border-left: 1px solid var(--white);
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 50px;
  }

  @media screen and (max-width: 1365px) {
    @include font-prop($fw: 700, $fz: 14px, $lh: 1, $ls: 0.08em);
  }

  @media screen and (min-width: 1366px) {
    @include font-prop($fw: 700, $fz: 20px, $lh: 1.4, $ls: 0.08em);
  }
}

.program__first-list-item::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  left: -6px;
}

.program__second-list {
  margin-top: 5px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .program__second-list:nth-child(1) {
    width: 176px;
    flex: none;
  }

  .program__second-list:nth-child(2) {
    width: 155px;
  }

  .program__second-list:nth-child(3) {
    width: 110px;
  }

  .program__second-list-item:not(:first-child) {
    margin-left: 50px;
    margin-top: 0;
  }
}

.program__second-list-item {
  color: var(--accent-color);
  position: relative;

  @media screen and (max-width: 767px) {
    @include font-prop($fw: 700, $fz: 12px, $lh: 1.65, $ls: 0.08em);
  }
  @media screen and (min-width: 768px) {
    @include font-prop();
  }
  @media screen and (min-width: 1366px) {
    @include font-prop($fw: 700, $fz: 20px, $lh: 1.65, $ls: 0.08em);
  }
}

.program__second-list-item_padding {
  padding-left: 20px;
}

.program__second-list-item::before {
  content: '';
  width: 12px;
  height: 1px;
  border: 1px solid transparent;
  background-color: var(--accent-color);
  position: absolute;
  top: 9px;
}

.program__third-list {
  margin-top: 5px;
}

.program__third-list-item {
  color: var(--secondary-color);
  opacity: 0.5;

  &_margin-bottom {
    margin-bottom: 5px;
  }

  @media screen and (max-width: 1365px) {
    @include font-prop($fw: 500, $fz: 12px, $lh: 1.67, $ls: 0.08em);
  }

  @media screen and (min-width: 1366px) {
    @include font-prop($fw: 500, $fz: 18px, $lh: 1.56, $ls: 0.08em);
  }
}
